<div class="container">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur dolorem doloribus iusto natus nemo
        nesciunt nostrum optio placeat porro, possimus praesentium, quas quisquam rem sit tenetur, vel voluptas! Ea!</p>

</div>