<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Upload</title>
</head>
<body>
<div class="container">

    <div class="row">
        {{#each vendorUpload}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <!--<img src="..." alt="...">-->
                    <div class="caption">
                        <p>
                        <h3>{{this.product_name}}</h3>
                        {{this.product_description}}
                        </p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>
</body>
</html>