<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/{{ productImage }}" alt="">
            <div class="caption">
                <h3> {{ productName }} </h3>
                <p> {{ productDesc }} </p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>