<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Upload</title>
    </head>
    <body>

        <h1>Product Upload</h1>
        <div class="container">
            <form method="POST" action="/upload-image" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>

                <div class="form-group">
                    <label for="prod_name">Product Name</label>
                    <input class="form-control" id="prod_name" placeholder="Product Name" name="product_name">
                </div>

                <div class="form-group">
                    <label for="prod_desc">Product Description</label>
                    <textarea class="form-control" id="prod_desc" placeholder="Product Description" name="product_description"></textarea>
                </div>

                <div class="form-group">
                    <label for="prod_image">Image Upload</label>
                    <input type="file" class="form-control" id="prod_image" placeholder="Upload your image here" name="product_image">
                </div>

                <button type="submit">Submit</button>

                <!--<table>-->
                    <!--<tr>-->
                        <!--<td>Email:</td>-->
                        <!--<td><input type="email" name="email" size="30"></td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>Password:</td>-->
                        <!--<td><input type="password" name="password" size="30"></td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>Description:</td>-->
                        <!--<td><textarea type="text" name="product_description"></textarea></td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td>Image:</td>-->
                        <!--<td><input type="file" name="product_image" size="30"></td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>-->
                            <!--<button type="submit">Submit</button>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </form>
        </div>
    </body>
</html>