body {
    width: 1080px;
    margin: auto;
    background-color: #262626;
    color: #999999;
}

.container {
    width: 1080px;
    margin: auto;
    background-color: #262626;
    color: #999999;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.thumbnail {
    overflow:hidden;
    white-space: nowrap;
    /*-ms-text-overflow: ellipsis;*/
    /*-o-text-overflow: ellipsis;*/
    text-overflow: ellipsis;
    width:100%;
    display:block;
}

.bluebox {
    border: 2px solid blue;
}

