<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- Angular -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
        <!--<script src="/index.js"></script>-->

        <!-- Bootstrap customisation -->
        <link rel="stylesheet" href="/stylesheets/agency.css">
        <link rel="stylesheet" href="/index.css">

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand {{isActive 'index' @exphbs.view}}" href="/menu/index">WTF</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{{isActive 'aboutus' @exphbs.view}}">
                            <a href="/menu/aboutus">About Us <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="{{isActive 'shop' @exphbs.view}}">
                            <a href="/menu/shop">Shop</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{isActive 'register' @exphbs.view}}">
                            <a href="/menu/register">Register</a>
                        </li>
                        <li class="{{isActive 'upload' @exphbs.view}}">
                            <a href="/menu/upload">Upload</a>
                        </li>
                        <li class="{{isActive 'contactus' @exphbs.view}}">
                            <a href="/menu/contactus">Contact Us</a>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <form method="GET" action="/search" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" id="product_name" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            <img src="" alt="">
        </div>
        {{{body}}}

    </body>
</html>