<table>

    <tr>
        <td>Product Id:</td>
        <td>{{ detailsCtrl.product.product_id }}</td>
    </tr>
    <tr>
        <td>Product Name:</td>
        <td>{{ detailsCtrl.product.product_name }}</td>
    </tr>
    <tr>
        <td>Product Description:</td>
        <td>{{ detailsCtrl.product.product_description }}</td>
    </tr>

</table>