<form method="GET" action="/search" class="form-inline queryform">

    <div class="form-group">
        <!--<label for="phonequery">Message: </label>-->
        <input type="text" name="product_name" id="product_name" size="30" placeholder="What Product are you Looking for?"
               class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">search</button>
    <br>
    <br>
</form>

<div class="row">

    <div class="col-sm-6 col-md-4" ng-repeat="l in listingsCtrl.shop">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{ l.product_name }}</h3>

                <p>{{ l.product_description }}</p>

                <button ng-click="listingsCtrl.gotoDetails(l.product_id)" class=" btn btn-primary">Details</button>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>
    </div>

</div>